body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* La imagen de fondo se usa en la clase 'bg' */
  background-image: url("/img/fondo-login.jpg");

  /* Controla la altura de tu imagen de fondo */
  height: 100%;

  /* Centra y escala la imagen perfectamente */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rotated-icon {
  transform: rotate(45deg);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
}
.navbar-nav .nav-link {
  margin-bottom: 10px; /* Espacio entre elementos del menú */
}

.wallet-container {
  height: 300px; /* Altura del contenedor */
  background: linear-gradient(
    to bottom,
    #0a1aa9 50%,
    #ffffff 50%
  ); /* División del gradiente */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
  margin-top: 100px; /* Espaciado superior */
}

.navbar-custom {
  background: linear-gradient(
    to right,
    #667eea,
    #764ba2
  ); /* Gradiente de color del menu */
}

/* Estilos para los botones de la wallet */
.wallet-container button {
  margin-top: 10px; /* Espaciado superior entre botones */
  margin-right: 10px; /* Espaciado derecho entre botones */
}

.compartir-btn {
  border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
}

.scrollable-table {
  max-height: 350px; /* Altura máxima del contenedor */
  overflow-y: auto; /* Agregar scroll vertical cuando sea necesario */
}

.custom-table {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.custom-table tbody tr {
  transition: background-color 0.3s; /* Transición de color de fondo al pasar el ratón */
}

/* Estilos para la tabla de contactos */
#contactosTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 5px;
}

#contactosTable th,
#contactosTable td {
  padding: 10px;
  text-align: left;
}

#contactosTable th {
  background-color: #343a40;
  color: #fff;
}

#contactosTable tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

#contactosTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#contactosTable tbody tr:hover td {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Estilos para los botones de editar y eliminar */
#contactosTable .btn {
  padding: 5px 10px;
}

#contactosTable .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

#contactosTable .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

body {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
}

